.menu {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

ul {
  list-style: none;
}
